@import "normalize.css";
@import "variables";

body {
    background: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

#readme-content {
    max-width: 1012px;
}

img {
    border: 1px solid var(--white-secondary);
}

a, summary{
    cursor: pointer;
    transition: opacity .5s;
    &:link{
        color: var(--white);
    }
    &:visited {
        color: green;
    }
    &:hover {
        color: hotpink;
        opacity: .8;
    }
    &:active {
        color: blue;
    }
}
