@import "anim";

#readme-content {
    &.loading {
        &::before {
            content: '';
            animation: loading-before .3s infinite;
        }
        &::after {
            content: '';
            animation: loading-after 1s infinite;
        }
    }
}
